includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    stubFiles:
        - phpstan/white-label-macros.stub

    paths:
        - app/
        - core/

    # Level 10 is the highest level
    level: 5
